
.red, .blue{
    position: relative;
} 
.area2 {
    flex-direction: row;
}

.guardian1 {
    left: -28vw;
    top: 45vh;
}
.Rdef1{
    left: -22vw;
    top: 35vh;
}
.Rdef2{
    left: -24.5vw;
    top: 55vh;
}
.Rdef3{
    left: -21vw;
    top: 69vh;
}
.Rdef4{
    left: -24vw;
    top: 20vh;
}
.Rmid1{
    left: -17vw;
    top: 29vh;
}
.Rmid2{
    left: -20vw;
    top: 60vh;
}
.Rmid3{
    left: -16vw;
    top: 12vh;
}
.Rmid4{
    left: -18vw;
    top: 78vh;
}
.Ratt1{
    left: -15vw;
    top: 50vh;
}
.Ratt2{
    left: -18vw;
    top: 40vh;
}


.guardian2 {
    left: 16vw;
    top: -46vh;
}
.Bdef1{
    left: 5vw;
    top: -35vh;
}
.Bdef2{
    left: 2vw;
    top: -55vh;
}
.Bdef3{
    left: -8vw;
    top: -71vh;
}
.Bdef4{
    left: -10vw;
    top: -20vh;
}
.Bmid1{
    left: -24vw;
    top: -29vh;
}
.Bmid2{
    left: -27vw;
    top: -60vh;
}
.Bmid3{
    left: -36vw;
    top: -14vh;
}
.Bmid4{
    left: -39vw;
    top: -80vh;
}
.Batt1{
    left: -46vw;
   top: -52vh;
}
.Batt2{
    left: -48.5vw;
    top: -42.5vh;
}


